<md-toolbar>
  <div class="md-toolbar-tools barra">
    <md-button ui-sref="inicio.home" ng-show="status==true">
      <ng-md-icon icon="home" style="fill:white"></ng-md-icon>
    </md-button>
    <span flex></span>
    <div ng-show="status==false" class="login">
      <md-input-container>
        <label>Usuario</label>
        <input type="text" ng-model="datos.usuario">
      </md-input-container>
      <md-input-container>
        <label>Password</label>
        <input type="password" ng-model="datos.password">
      </md-input-container>
      <md-button ng-click="login()" class="md-icon-button md-primary">
        <ng-md-icon icon="send" style="fill:white"></ng-md-icon>
      </md-button>
    </div>
    <div ng-show="status==true" class="login">
      {{datos.nombre+" "+datos.ap_paterno+" "+datos.ap_materno | uppercase}}
      <md-button ng-click="logout()" class="md-raised md-warn">Cerrar sesión</md-button>
    </div>
    <div ng-show="datos.id_role==1">
      <md-button ui-sref="inicio.admin" class="md-raised md-warn">Admin Panel</md-button>
    </div>
  </div>

</md-toolbar>
